*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.booking
  font-family: 'Nunito', sans-serif
.invalid
  color: $primary
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
.invalid-1
  bottom: 0
  left: 0
  color: $primary
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
button
  cursor: pointer
.button
  &:hover
    background-color: #630700
a
  &:hover
    color: #adfffb